.bookingItem {
  background-color: #ffffff;
  box-shadow: 0 0 10px -2px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .bookingItem__column {
    margin-right: 4rem;
  }

  .label {
    font-weight: 600;
    font-size: 1.2rem;
  }
}